body {
  margin: 0 5% 0 5%;
}

section.screen>form {
  min-height: 80vh;
}

h1 {
  text-align: center;
  background: #ddd;
  height: 50px;
  margin-top: 0;
  margin-bottom: 50px;
  padding: 10px 0 0 0;
}

#footer {
  margin-top: 20px;
}

button {
  width: 45%;
  padding: 10px;
}

form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

h2 {
  width: 20%;
  margin: 0 auto;
}

input,
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
}

table {
    color: #333;
    width: 100%;
    max-width: 1024px;
    min-width: 380px;
    /*border-collapse:collapse;*/
    border-spacing: 0;
    border: 1px #d3d3d3 solid;
}
td {
    border: 1px solid transparent; /* No more visible border */
    height: 30px;
    transition: all 0.3s;  /* Simple transition for hover effect */
}
thead td {
    background: #DFDFDF !important;
    font-weight: bold;
}
td {
    background: #FAFAFA;
    text-align: center;
}
tr:nth-child(even) td { background: #F1F1F1; }
tr:nth-child(odd) td { background: #FEFEFE; }
